@{
    ViewBag.Title = "Consultor - Lista";
}
@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            var tbFuncionario = $("#tbFuncionario").DataTable({
                "ordering": false,
                "pageLength": 10,
                "language": {
                    "lengthMenu": "_MENU_ registros por página",
                    "zeroRecords": "Sem registros a serem exibidos",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sem registros a serem exibidos",
                    "infoFiltered": "(filtrados de _MAX_ total de registros)",
                    "sSearch": "Pesquisar",
                    "oPaginate": { "sNext": "Próximo", "sPrevious": "Anterior", "sFirst": "Primeiro", "sLast": "Último" }
                },
                "columns":
                [
                    { "data": "Numero", "className": "text-center" },
                    { "data": "LojaDao[0].NomeFantasia", "className": "text-center" },
                    { "data": "Nome", "className": "text-center" },
                    { "data": "Email", "className": "text-center" },
                    { "data": "Telefone", "className": "text-center" }
                ]
            });

            $.getJSON("/Funcionario/Listar", function (data) {
                tbFuncionario.clear();
                tbFuncionario.rows.add(data).draw();
            });

            $("#btnCadastrar").click(function () {
                window.location.href = "/Funcionario/Cadastro";
            });

        });
    </script>
}
<div class="container" style="padding-bottom: 20px;">
    <h2><i class="glyphicon glyphicon-list" style="color: #0f3456" title="Funcionário"></i> Lista de Consultores</h2>
    <hr />
    <div class="form-group">
        <div class="table-responsive">
            <table id="tbFuncionario" class="table nowrap">
                <thead>
                    <tr>
                        <td class="text-center" style="width: 10%"><b>Número</b></td>
                        <td class="text-center" style="width: 25%"><b>Loja</b></td>
                        <td class="text-center" style="width: 30%"><b>Nome</b></td>
                        <td class="text-center" style="width: 25%"><b>E-mail</b></td>
                        <td class="text-center" style="width: 10%"><b>Telefone</b></td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <button id="btnCadastrar" type="button" class="btn btn-info">Cadastrar Novo Consultor</button>
</div>