@model ChicoDoColchao.Dao.CategoriaDao

@{
    ViewBag.Title = "Categoria - Cadastro";
}
@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            $("#btnCadastrar").click(function () {

                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: "/Categoria/Incluir",
                    data: $("#CategoriaForm").serialize(),
                    success: function (data) {

                        if (!data.Sucesso) {
                            alert(data.Mensagem);
                            return;
                        }

                        $("#CategoriaForm")[0].reset();

                        alert(data.Mensagem);
                    }
                });

            });

            $("#btnLista").click(function () {
                window.location.href = "/Categoria/Lista";
            });
        });
    </script>
}
<div class="container container-page">
    <h2><i class="glyphicon glyphicon-tags" style="color: #0f3456" title="Categoria"></i> Cadastro de Categorias</h2>
    <hr />
    <form id="CategoriaForm" name="CategoriaForm">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Descricao, new { @class = "form-control", @placeholder = "Categoria (Ex. Ouro, Master, etc ...)", @maxlength = "150" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <button id="btnCadastrar" type="button" class="btn btn-success">Cadastrar</button>
            <button id="btnLista" type="button" class="btn btn-info">Lista de Categorias Cadastradas</button>
        </div>
    </form>
</div>