@using ChicoDoColchao.Dao;
@using Newtonsoft.Json;

@{
    ViewBag.Title = "Pedido - Calendário de Entrega";

    UsuarioDao usuarioDao = null;
    if (Request.Cookies.Get("ChicoDoColchao_Usuario") != null)
    {
        usuarioDao = JsonConvert.DeserializeObject<UsuarioDao>(Request.Cookies.Get("ChicoDoColchao_Usuario").Value);
    }
}
@section styles
{
    <style type="text/css">
        .fc-event, .fc-event-dot {
            background-color: #fcf8e3;
            color: #337ab7;
        }

        .fc-list-item-title a {
            color: #337ab7;
        }

        .fc-event:hover {
            color: #337ab7;
        }
    </style>
}
@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            var events = [];
            $.getJSON("/Pedido/Listar", { 'PedidoStatusDao[0].PedidoStatusID': '@PedidoStatusDao.EPedidoStatus.PrevisaoDeEntrega.GetHashCode()', top: false, take: 0 },
            function (data)
            {
                if (!data.Sucesso) {
                    console.info(data.Erro);
                    alert(data.Mensagem);
                    return;
                }

                $(data.Pedidos).each(function (idxPedido, pedido)
                {
                    $(pedido.PedidoProdutoDao).each(function (idxPedidoProduto, pedidoProduto)
                    {
                        // tem entrega, mas não tem baixa
                        if (pedidoProduto.DataEntrega != null && pedidoProduto.DataBaixa == null)
                        {
                            events.push({
                                id: pedidoProduto.PedidoID + '-' + pedidoProduto.ProdutoID,
                                title: "Pedido " + pedidoProduto.PedidoID + " - Produto " + pedidoProduto.ProdutoDao.Numero,
                                start: moment(pedidoProduto.DataEntrega).format("YYYY-MM-DD"),
                                url: window.location.origin + '/Pedido/Comanda?PedidoID=' + pedidoProduto.PedidoID
                            });
                        }
                    });                    
                });

                $("#calendar").fullCalendar({
                    header: { left: 'prev,next today', center: 'title', right: 'month,agendaWeek,agendaDay,listMonth' },
                    //defaultView: 'listWeek', // set the default initial view
                    locale: 'pt-br', // set the locale to a specific language
                    buttonIcons: true, // show the prev/next text
                    weekNumbers: false, // show the week numbers
                    editable: true, // allow edit events
                    eventLimit: true, // allow "more" link when too many events
                    navLinks: false, // can click day/week names to navigate views
                    events: events,
                    eventClick: function (event) {
                        if (event.url) {
                            window.open(event.url, "_blank");
                            return false;
                        }
                    },
                    eventDrop: function (event, delta, revertFunc)
                    {
                        if (confirm("Deseja alterar a data de entrega do " + event.title + " para " + event.start.format("DD/MM/YYYY") + "?"))
                        {
                            var partesPedido = event.id.split('-');
                            var pedidoDao = { PedidoID: partesPedido[0] };

                            // Numero do produto
                            var numero;
                            var partesProduto = event.title.split(' ');
                            numero = partesProduto[4];

                            var pedidoProdutoDao = [];
                            pedidoProdutoDao.push({ "ProdutoDao.Numero": numero, "DataEntrega": event.start.format("DD-MM-YYYY"), "UsuarioEntregaDao.UsuarioID": '@usuarioDao.UsuarioID' });
                            pedidoDao.PedidoProdutoDao = pedidoProdutoDao;
                            
                            $.ajax({
                                dataType: "json",
                                type: "POST",
                                url: "/Pedido/Atualizar/",
                                data: { pedidoDao: pedidoDao },
                                success: function (data)
                                {
                                    if (!data.Sucesso)
                                    {
                                        revertFunc();
                                        alert(data.Mensagem);
                                        return;
                                    }
                                }
                            });
                        }
                        else
                        {
                            revertFunc();
                        }
                    }
                });
            });

        });
    </script>
}
<div class="container">
    <h2><i class="glyphicon glyphicon-calendar" style="color: #0f3456" title="Calendário de Entrega"></i> Calendário de Entrega</h2>
    <hr />
    <div class="form-group">
        <div id="calendar"></div>
    </div>
</div>