@using ChicoDoColchao.Dao;

@{
    ViewBag.Title = "Produto - Lista";

    UsuarioDao usuarioDao = null;

    if (Request.Cookies.Get("ChicoDoColchao_Usuario") != null)
    {
        usuarioDao = Newtonsoft.Json.JsonConvert.DeserializeObject<UsuarioDao>(Request.Cookies.Get("ChicoDoColchao_Usuario").Value);
    }
}
@section styles
{
    <style type="text/css">
        #lblPreco0, #lblPreco1, #lblPreco2, #lblPreco3, #lblPreco4, #lblPreco5, #lblPreco6, #lblPreco7, #lblPreco8, #lblPreco9, #lblPreco10 {
            font-weight: normal;
        }

        .modal-body {
            padding: 0px 15px 15px 15px;
        }
    </style>
}
@section scripts
{
    <script type="text/javascript">

        function modalPreco(produto) {

            $("#tbLojaProduto").DataTable().clear();
            $("#tbLojaProduto").DataTable().rows.add(produto.LojaProdutoDao).draw();

            $("#lblPreco0").text("");
            $("#lblPreco1").text("");
            $("#lblPreco2").text("");
            $("#lblPreco3").text("");
            $("#lblPreco4").text("");
            $("#lblPreco5").text("");
            $("#lblPreco6").text("");
            $("#lblPreco7").text("");
            $("#lblPreco8").text("");
            $("#lblPreco9").text("");
            $("#lblPreco10").text("");

            $("#lblNumeroProduto").text(produto.Numero);

            $(produto.ParcelaProdutoDao).each(function (index, parcelaProdutoDao) {
                if (parcelaProdutoDao.AVista) {
                    $("#lblPreco0").text("R$ " + Globalize.format(parcelaProdutoDao.Preco, "n2"))
                }
                else if (parcelaProdutoDao.ParcelaID == 1) {
                    $("#lblPreco1").text("R$ " + Globalize.format(parcelaProdutoDao.Preco, "n2"))
                }
                else if (parcelaProdutoDao.ParcelaID == 2) {
                    $("#lblPreco2").text("R$ " + Globalize.format(parcelaProdutoDao.Preco, "n2"))
                }
                else if (parcelaProdutoDao.ParcelaID == 3) {
                    $("#lblPreco3").text("R$ " + Globalize.format(parcelaProdutoDao.Preco, "n2"))
                }
                else if (parcelaProdutoDao.ParcelaID == 4) {
                    $("#lblPreco4").text("R$ " + Globalize.format(parcelaProdutoDao.Preco, "n2"))
                }
                else if (parcelaProdutoDao.ParcelaID == 5) {
                    $("#lblPreco5").text("R$ " + Globalize.format(parcelaProdutoDao.Preco, "n2"))
                }
                else if (parcelaProdutoDao.ParcelaID == 6) {
                    $("#lblPreco6").text("R$ " + Globalize.format(parcelaProdutoDao.Preco, "n2"))
                }
                else if (parcelaProdutoDao.ParcelaID == 7) {
                    $("#lblPreco7").text("R$ " + Globalize.format(parcelaProdutoDao.Preco, "n2"))
                }
                else if (parcelaProdutoDao.ParcelaID == 8) {
                    $("#lblPreco8").text("R$ " + Globalize.format(parcelaProdutoDao.Preco, "n2"))
                }
                else if (parcelaProdutoDao.ParcelaID == 9) {
                    $("#lblPreco9").text("R$ " + Globalize.format(parcelaProdutoDao.Preco, "n2"))
                }
                else if (parcelaProdutoDao.ParcelaID == 10) {
                    $("#lblPreco10").text("R$ " + Globalize.format(parcelaProdutoDao.Preco, "n2"))
                }
            });

            $('#modalpreco').modal('show');
        }

        $(document).ready(function () {

            var tbProduto = $("#tbProduto").DataTable({
                "ordering": false,
                "pageLength": 10,
                "language": {
                    "lengthMenu": "_MENU_ registros por página",
                    "zeroRecords": "Sem registros a serem exibidos",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sem registros a serem exibidos",
                    "infoFiltered": "(filtrados de _MAX_ total de registros)",
                    "sSearch": "Pesquisar",
                    "oPaginate": { "sNext": "Próximo", "sPrevious": "Anterior", "sFirst": "Primeiro", "sLast": "Último" }
                },
                "columns":
                [
                    {
                        "data": function (data, type, row) {
                            return "<a href='#' onclick='modalPreco(" + JSON.stringify(data) + ")'>" + data["Numero"] + "</a>";
                        },
                        "className": "text-center"
                    },
                    { "data": "Descricao", "className": "text-center" },
                    { "data": "LinhaDao[0].Descricao", "className": "text-center" },
                    { "data": "MedidaDao.Descricao", "className": "text-center" },
                    {
                        "data": function (data, type, row) {
                            return data["ComissaoFuncionario"] + "%";
                        },
                        "className": "text-center",
                        "visible": '@usuarioDao.TipoUsuarioDao.TipoUsuarioID' == '@TipoUsuarioDao.ETipoUsuario.Gerencial.GetHashCode()' ? true : false
                    },
                    {
                       "data": function (data, type, row) {
                           return data["ComissaoFranqueado"] + "%";
                       },
                       "className": "text-center",
                       "visible": '@usuarioDao.TipoUsuarioDao.TipoUsuarioID' == '@TipoUsuarioDao.ETipoUsuario.Gerencial.GetHashCode()' ? true : false
                    }
                ]
            });

            var tbLojaProduto = $("#tbLojaProduto").DataTable({
                "paging": false,
                "ordering": false,
                "info": false,
                "searching": false,
                "language": {
                    "lengthMenu": "_MENU_ registros por página",
                    "zeroRecords": "Sem registros a serem exibidos",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sem registros a serem exibidos",
                    "infoFiltered": "(filtrados de _MAX_ total de registros)",
                    "sSearch": "Pesquisar",
                    "oPaginate": { "sNext": "Próximo", "sPrevious": "Anterior", "sFirst": "Primeiro", "sLast": "Último" }
                },
                "columns":
                [
                    { "data": "LojaDao.NomeFantasia", "className": "text-center" },
                    { "data": "Quantidade", "className": "text-center" }
                ]
            });

            $.getJSON("/Produto/Listar", function (data) {
                tbProduto.clear();
                tbProduto.rows.add(data).draw();
            });

            $("#btnCadastrar").click(function () {
                window.location.href = "/Produto/Cadastro";
            });

        });
    </script>
}
<div class="container" style="padding-bottom: 20px;">
    <h2><i class="glyphicon glyphicon-list" style="color: #0f3456" title="Produto"></i> Lista de Produtos</h2>
    <hr />
    <div class="form-group">
        <div class="table-responsive">
            <table id="tbProduto" class="table nowrap">
                <thead>
                    <tr>
                        <td class="text-center" style="width: 20%"><b>Número</b></td>
                        <td class="text-center" style="width: 30%"><b>Descrição</b></td>
                        <td class="text-center" style="width: 20%"><b>Linha</b></td>
                        <td class="text-center" style="width: 10%"><b>Medida</b></td>
                        <td class="text-center" style="width: 10%"><b>Rentabilidade Funcionário</b></td>
                        <td class="text-center" style="width: 10%"><b>Rentabilidade Lojista</b></td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <button id="btnCadastrar" type="button" class="btn btn-info">Cadastrar Novo Produto</button>
    <div class="modal fade" id="modalpreco" tabindex="-1" role="dialog" aria-labelledby="ModalPreco" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                    <h4 class="modal-title" id="myModalLabel">Nº Produto <label id="lblNumeroProduto"></label></h4>
                </div>
                <div class="modal-body">
                    <h4>Estoque</h4>
                    <table id="tbLojaProduto" class="table nowrap" style="width: 100%">
                        <thead>
                            <tr>
                                <td class="text-center" style="width: 90%"><b>Loja</b></td>
                                <td class="text-center" style="width: 10%"><b>Quantidade</b></td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <h4>Preços</h4>
                    <div class="row">
                        <div class="col-lg-6 text-center">
                            À vista: <label id="lblPreco0"></label>
                        </div>
                        <div class="col-lg-6 text-center">
                            5x: <label id="lblPreco5"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 text-center">
                            1x: <label id="lblPreco1"></label>
                        </div>
                        <div class="col-lg-6 text-center">
                            6x: <label id="lblPreco6"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 text-center">
                            2x: <label id="lblPreco2"></label>
                        </div>
                        <div class="col-lg-6 text-center">
                            7x: <label id="lblPreco7"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 text-center">
                            3x: <label id="lblPreco3"></label>
                        </div>
                        <div class="col-lg-6 text-center">
                            8x: <label id="lblPreco8"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 text-center">
                            4x: <label id="lblPreco4"></label>
                        </div>
                        <div class="col-lg-6 text-center">
                            9x: <label id="lblPreco9"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 text-center">
                        </div>
                        <div class="col-lg-6 text-center">
                            10x: <label id="lblPreco10"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>