
@{
    ViewBag.Title = "Onde Comprar";
}

@section scripts
{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@System.Configuration.ConfigurationManager.AppSettings["ChicoDoColchaoWebApi"]"></script>
    <script type="text/javascript">

        function initialize() {
            
            var map = new google.maps.Map(document.getElementById('map_canvas'), {
                zoom: 13,
                center: { lat: -12.9964, lng: -38.4681 }
            });

            //var mapProp = {
            //    center: new google.maps.LatLng(51.508742, -0.120850),
            //    zoom: 10,
            //    mapTypeId: google.maps.MapTypeId.ROADMAP
            //};
            //var map = new google.maps.Map(document.getElementById("map_canvas"), mapProp);

            var loja1 = new google.maps.Marker({
                position: { lat: -13.0048822, lng: -38.4574631 },
                map: map,
                title: "Av. Manoel Dias da Silva, 2364 - Pituba / Tel: (71) 3248-7569"
            });

            var loja2 = new google.maps.Marker({
                position: { lat: -13.0055417, lng: -38.459536 },
                map: map,
                title: "Av. Manoel Dias da Silva, 1896 - Pituba / Tel: (71) 3248-2876"
            });

            var loja3 = new google.maps.Marker({
                position: { lat: -12.9833528, lng: -38.5150437 },
                map: map,
                title: "Shopping Piedade 1º Piso - Centro / Tel: (71) 3043-8982"
            });

            var loja4 = new google.maps.Marker({
                position: { lat: -12.9954946, lng: -38.4694049 },
                map: map,
                title: "Av. Antônio Carlos Magalhães, 1034, Loja 05, Edf. Pituba Parque Center - Itaigara / Tel: (71) 3035-5509"
            });

            var loja5 = new google.maps.Marker({
                position: { lat: -12.984925, lng: -38.5185522 },
                map: map,
                title: "Av. Sete de Setembro, 1020, - Dois de Julho / Tel: (71) 3027-9007"
            });
            
            loja1.setMap(map);
            loja2.setMap(map);
            loja3.setMap(map);
            loja4.setMap(map);
            loja5.setMap(map);
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
}
<div class="container" style="padding-bottom: 20px;">
    <h2><i class="glyphicon glyphicon-map-marker" style="color: #c9302c" title="Onde Comprar"></i> Onde Comprar</h2>
    <hr />
    <div id="map_canvas" style="width: 100%; height: 400px"></div>
</div>