@using ChicoDoColchao.Dao;

@{
    ViewBag.Title = "Loja - Lista";
}
@{
    UsuarioDao usuarioDao = null;
    if (Request.Cookies.Get("ChicoDoColchao_Usuario") != null)
    {
        usuarioDao = Newtonsoft.Json.JsonConvert.DeserializeObject<UsuarioDao>(Request.Cookies.Get("ChicoDoColchao_Usuario").Value);
    }
}
@section scripts
{
    <script type="text/javascript">

        function limpar()
        {
            $("#lblCnpj").text("");
            $("#LojaID").val("");
            $("#Cnpj").val("");
            $("#RazaoSocial").val("");
            $("#NomeFantasia").val("");
            $("#Telefone").val("");
            $("#Bairro").val("");
        }

        function alterarLoja(lojaId, cnpj, obj) {
            $("#LojaID").val(lojaId);
            $("#lblCnpj").text(cnpj);
            $("#modallojaalterar").modal('show');
        }

        function excluirLoja(lojaId, cnpj, obj)
        {
            if (confirm("Deseja realmente excluir loja " + cnpj + "?"))
            {
                var lojaDao = {};

                lojaDao.LojaID = lojaId;
                lojaDao.Cnpj = cnpj;
                lojaDao.Ativo = 0;

                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: "/Loja/Excluir",
                    data: { lojaDao: lojaDao },
                    success: function (data)
                    {

                        if (!data.Sucesso) {
                            console.info(data.Erro);
                            alert(data.Mensagem);
                            return;
                        }

                        $("#tbLoja").DataTable().clear();
                        $("#tbLoja").DataTable().rows.add(data.Lista).draw();

                        // exibe mensagem de sucesso
                        alert(data.Mensagem);

                        $("#modallojaalterar").modal('hide');
                    }
                });
            }
        }

        $(document).ready(function () {

            var tbLoja = $("#tbLoja").DataTable({
                "ordering": false,
                "pageLength": 10,
                "language": {
                    "lengthMenu": "_MENU_ registros por página",
                    "zeroRecords": "Sem registros a serem exibidos",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sem registros a serem exibidos",
                    "infoFiltered": "(filtrados de _MAX_ total de registros)",
                    "sSearch": "Pesquisar",
                    "oPaginate": { "sNext": "Próximo", "sPrevious": "Anterior", "sFirst": "Primeiro", "sLast": "Último" }
                },
                "columns":
                [
                    { "data": "Cnpj", "className": "text-center" },
                    { "data": "RazaoSocial", "className": "text-center" },
                    { "data": "NomeFantasia", "className": "text-center" },
                    { "data": "Telefone", "className": "text-center" },
                    { "data": "Bairro", "className": "text-center" },
                    {
                        "data": function (data, type, row)
                        {
                            // não pode alterar a loja "depósito"
                            if (data["Deposito"] == true)
                            {
                                return "";
                            }

                            var alterar = "<i class='glyphicon glyphicon-edit' title='Editar Loja' style='cursor: pointer' onclick='alterarLoja(" + data["LojaID"] + ",\"" + data["Cnpj"] + "\", this)'></i>";
                            var excluir = "<i class='glyphicon glyphicon-remove' title='Excluir Loja' style='cursor: pointer' onclick='excluirLoja(" + data["LojaID"] + ",\"" + data["Cnpj"] + "\", this)'></i>";

                            return alterar + " " + excluir;
                        },
                        "className": "text-center",
                        "visible": '@usuarioDao.TipoUsuarioDao.TipoUsuarioID' == '@TipoUsuarioDao.ETipoUsuario.Gerencial.GetHashCode()' ? true : false
                    }
                ]
            });

            $.getJSON("/Loja/Listar", { Ativo: true }, function (data) {
                tbLoja.clear();
                tbLoja.rows.add(data).draw();
            });

            $("#btnCadastrar").click(function () {
                window.location.href = "/Loja/Cadastro";
            });

            $("#btnAlterarLoja").click(function () {

                var lojaDao = {};

                lojaDao.LojaID = $("#LojaID").val();
                lojaDao.Cnpj = $("#Cnpj").val();
                lojaDao.RazaoSocial = $("#RazaoSocial").val();
                lojaDao.NomeFantasia = $("#NomeFantasia").val();
                lojaDao.Telefone = $("#Telefone").val();
                lojaDao.Bairro = $("#Bairro").val();

                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: "/Loja/Alterar",
                    data: { lojaDao: lojaDao },
                    success: function (data) {

                        if (!data.Sucesso) {
                            console.info(data.Erro);
                            alert(data.Mensagem);
                            return;
                        }

                        $("#tbLoja").DataTable().clear();
                        $("#tbLoja").DataTable().rows.add(data.Lista).draw();

                        limpar();

                        alert(data.Mensagem);

                        $("#modallojaalterar").modal('hide');
                    }
                });

            });

        });
    </script>
}
<div class="container">
    <h2><i class="glyphicon glyphicon-list" style="color: #0f3456" title="Loja"></i> Lista de Lojas</h2>
    <hr />
    <div class="form-group">
        <div class="table-responsive">
            <table id="tbLoja" class="table nowrap">
                <thead>
                    <tr>
                        <td class="text-center" style="width: 20%"><b>CNPJ</b></td>
                        <td class="text-center" style="width: 30%"><b>Razão Social</b></td>
                        <td class="text-center" style="width: 25%"><b>Nome Fantasia</b></td>
                        <td class="text-center" style="width: 10%"><b>Telefone</b></td>
                        <td class="text-center" style="width: 10%"><b>Bairro</b></td>
                        <td class="text-center" style="width: 5%"><b>Ação</b></td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <button id="btnCadastrar" type="button" class="btn btn-info">Cadastrar Nova Loja</button>
</div>
@Html.Partial("_ModalLojaAlterar")