@{
    ViewBag.Title = "Loja - Seleciona";
}
@section scripts
{
    <script type="text/javascript">
        
        $(document).ready(function () {

            var tbLoja = $("#tbLoja").DataTable({
                "ordering": false,
                "pageLength": 10,
                "dom": 't',
                "language": {
                    "lengthMenu": "_MENU_ registros por página",
                    "zeroRecords": "Sem registros a serem exibidos",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sem registros a serem exibidos",
                    "infoFiltered": "(filtrados de _MAX_ total de registros)",
                    "sSearch": "Pesquisar",
                    "oPaginate": { "sNext": "Próximo", "sPrevious": "Anterior", "sFirst": "Primeiro", "sLast": "Último" }
                },
                "columns":
                [
                    {
                        "data": function (data, type, row) {
                            return '<a href="/Loja/Selecionar?LojaID=' + data["LojaID"] + "&NomeFantasia=" + encodeURIComponent(data.NomeFantasia) + "&Cnpj=" + data["Cnpj"] + "&Telefone=" + data["Telefone"] + '">' + data["NomeFantasia"] + '</a>';
                        },
                        "className": "text-center"
                    }
                ]
            });

            $.getJSON("/Loja/Listar", function (data) {
                tbLoja.clear();
                tbLoja.rows.add(data).draw();
            });
            
        });
    </script>
}
<div class="container" style="padding-bottom: 20px;">
    <h2><i class="glyphicon glyphicon-list" style="color: #0f3456" title="Loja"></i> Selecione uma Loja</h2>
    <hr />
    <div class="form-group">
        <div class="table-responsive">
            <table id="tbLoja" class="table nowrap">
                <thead>
                    <tr>
                        <td class="text-center" style="width: 20%"><b>Nome Fantasia</b></td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>