<connectionStrings>

  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-ChicoDoColchao-20160511092123.mdf;Initial Catalog=aspnet-ChicoDoColchao-20160511092123;Integrated Security=True" providerName="System.Data.SqlClient" />

  <!-- DESENVOLVIMENTO -->
   
  <!--<add name="ChicoDoColchao" connectionString="Data Source=DESKTOP-UFBS1QD;Initial Catalog=chicodocolchao;Persist Security Info=True;user id=chicodocolchao;password=ch1c0d0c0lch40" providerName="System.Data.SqlClient"/>
  <add name="ChicoDoColchaoEntities" connectionString="metadata=res://*/ChicoDoColchaoModel.csdl|res://*/ChicoDoColchaoModel.ssdl|res://*/ChicoDoColchaoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-UFBS1QD\SQLEXPRESS;initial catalog=chicodocolchao;persist security info=True;user id=chicodocolchao;password=ch1c0d0c0lch40;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  
  <!--<add name="ChicoDoColchaoEntities" connectionString="metadata=res://*/ChicoDoColchaoModel.csdl|res://*/ChicoDoColchaoModel.ssdl|res://*/ChicoDoColchaoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-UFBS1QD;initial catalog=chicodocolchao;persist security info=True;user id=chicodocolchao;password=ch1c0d0c0lch40;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  
  <!-- PRODUÇÃO -->  
  <add name="ChicoDoColchao" connectionString="Data Source=mssql.chicodocolchao.com.br;Initial Catalog=chicodocolchao;Persist Security Info=True;user id=chicodocolchao;password=ch1c0d0c0lch40" providerName="System.Data.SqlClient"/>
  <add name="ChicoDoColchaoEntities" connectionString="metadata=res://*/ChicoDoColchaoModel.csdl|res://*/ChicoDoColchaoModel.ssdl|res://*/ChicoDoColchaoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql.chicodocolchao.com.br;initial catalog=chicodocolchao;persist security info=True;user id=chicodocolchao;password=ch1c0d0c0lch40;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

</connectionStrings>