<div class="modal fade" id="modalcliente" tabindex="-1" role="dialog" aria-labelledby="ModalCliente" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                <h4 class="modal-title" id="myModalLabel">Cliente <label id="lblCliente"></label></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            E-mail: <label id="lblEmail"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            Telefone Residencial: <label id="lblTelefoneResidencial"></label>
                        </div>
                        <div class="col-lg-6">
                            Telefone Residencial 2: <label id="lblTelefoneResidencial2"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            Telefone Celular: <label id="lblTelefoneCelular"></label>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                Telefone Celular 2: <label id="lblTelefoneCelular2"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            Cep: <label id="lblCep"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            Logradouro: <label id="lblLogradouro"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            Número: <label id="lblNumero"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            Complemento: <label id="lblComplemento"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            Bairro: <label id="lblBairro"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            Ponto Referência: <label id="lblPontoReferencia"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>