<div class="modal fade" id="modalproduto" tabindex="-1" role="dialog" aria-labelledby="ModalProduto" aria-hidden="true">
    <div id="mp_dialog" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                <h4 class="modal-title" id="myModalLabel"><label id="mp_descricao"></label></h4>
            </div>
            <div class="modal-body">
                <img id="mp_imagem" src="" width="100%" />
            </div>
        </div>
    </div>
</div>