<div class="modal fade" id="modaldesconto" tabindex="-1" role="dialog" aria-labelledby="ModalDesconto" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                <h4 class="modal-title" id="myModalLabel">Desconto Autorizado</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <input id="ValorDesconto" name="ValorDesconto" type="text" class="form-control valor" placeholder="Valor do desconto em reais" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnRetirarDesconto" type="button" class="btn btn-danger">Retirar Desconto</button>
                <button id="btnAdicionarDesconto" type="button" class="btn btn-warning">Adicionar Desconto</button>
            </div>
        </div>
    </div>
</div>