<div class="modal fade" id="modalLoja" tabindex="-1" role="dialog" aria-labelledby="ModalLojaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Selecione a Loja</h4>
            </div>
            <div class="modal-body">
                <div style="overflow-x: hidden; overflow-y: scroll; height: 250px">
                    <table id="tbLojas" class="table nowrap" style="width: 100%">
                        <thead>
                            <tr>
                                <td class="text-center"><b>Nome Fantasia</b></td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

