@model ChicoDoColchao.Dao.ConsultorDao 
        
<div class="modal fade" id="modalfuncionarioalterar" tabindex="-1" role="dialog" aria-labelledby="ModalFuncionarioAlterar" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                <h4 class="modal-title" id="myModalLabel">Alterar Consultor <span id="Numero"></span></h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="FuncionarioID" />
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-10">
                            <input id="Nome" name="Nome" type="text" class="form-control" placeholder="Nome" maxlength="150" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-10">
                            <input id="Email" name="Email" type="text" class="form-control" placeholder="E-mail" maxlength="150" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-10">
                            <input id="Telefone" name="Telefone" type="text" class="form-control celular" placeholder="Telefone" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10">
                        <div class="form-group">
                            @Html.DropDownList("LojaID", new SelectList(Model.LojaDao, "LojaID", "NomeFantasia"), "Pra qual loja o consultor irá mudar?", new { @class = "form-control", @id = "LojaID" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnAlterarFuncionario" type="button" class="btn btn-warning">Alterar</button>
            </div>
        </div>
    </div>
</div>