@using ChicoDoColchao.Dao;
@model ConsultorDao

@{
    ViewBag.Title = "Consultor - Lista";
}
@{
    UsuarioDao usuarioDao = null;
    if (Request.Cookies.Get("ChicoDoColchao_Usuario") != null)
    {
        usuarioDao = Newtonsoft.Json.JsonConvert.DeserializeObject<UsuarioDao>(Request.Cookies.Get("ChicoDoColchao_Usuario").Value);
    }
}
@section scripts
{
    <script type="text/javascript">

        function limpar()
        {
            $("#FuncionarioID").text("");
            $("#Nome").val("");
            $("#Email").val("");
            $("#Telefone").val("");
            $("#LojaID").val("");
        }

        function alterarFuncionario(funcionarioId, numero, obj)
        {
            $("#FuncionarioID").val(funcionarioId);
            $("#Numero").text(numero);
            $("#modalfuncionarioalterar").modal('show');
        }

        function excluirFuncionario(funcionarioId, numero, obj)
        {
            if (confirm("Deseja realmente excluir consultor " + numero + "?")) {
                var consultorDao = {};

                consultorDao.FuncionarioID = funcionarioId;
                consultorDao.Numero = numero;
                consultorDao.Ativo = 0;

                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: "/Consultor/Excluir",
                    data: { consultorDao: consultorDao },
                    success: function (data) {

                        if (!data.Sucesso) {
                            console.info(data.Erro);
                            alert(data.Mensagem);
                            return;
                        }

                        $("#tbFuncionario").DataTable().clear();
                        $("#tbFuncionario").DataTable().rows.add(data.Lista).draw();

                        // exibe mensagem de sucesso
                        alert(data.Mensagem);

                        $("#modalfuncionarioalterar").modal('hide');
                    }
                });
            }
        }

        $(document).ready(function () {

            var tbFuncionario = $("#tbFuncionario").DataTable({
                "ordering": false,
                "pageLength": 10,
                "language": {
                    "lengthMenu": "_MENU_ registros por página",
                    "zeroRecords": "Sem registros a serem exibidos",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sem registros a serem exibidos",
                    "infoFiltered": "(filtrados de _MAX_ total de registros)",
                    "sSearch": "Pesquisar",
                    "oPaginate": { "sNext": "Próximo", "sPrevious": "Anterior", "sFirst": "Primeiro", "sLast": "Último" }
                },
                "columns":
                [
                    { "data": "Numero", "className": "text-center" },
                    { "data": "LojaDao[0].NomeFantasia", "className": "text-center" },
                    { "data": "Nome", "className": "text-center" },
                    { "data": "Email", "className": "text-center" },
                    { "data": "Telefone", "className": "text-center" },
                    {
                        "data": function (data, type, row) {
                            var alterar = "<i class='glyphicon glyphicon-edit' title='Editar Consultor' style='cursor: pointer' onclick='alterarFuncionario(" + data["FuncionarioID"] + "," + data["Numero"] + ", this)'></i>";
                            var excluir = "<i class='glyphicon glyphicon-remove' title='Excluir Consultor' style='cursor: pointer' onclick='excluirFuncionario(" + data["FuncionarioID"] + "," + data["Numero"] + ", this)'></i>";

                            return alterar + " " + excluir;
                        },
                        "className": "text-center",
                        "visible": '@usuarioDao.TipoUsuarioDao.TipoUsuarioID' == '@TipoUsuarioDao.ETipoUsuario.Gerencial.GetHashCode()' ? true : false
                    }
                ]
            });

            $.getJSON("/Consultor/Listar", function (data) {
                tbFuncionario.clear();
                tbFuncionario.rows.add(data).draw();
            });

            $("#btnCadastrar").click(function () {
                window.location.href = "/Consultor/Cadastro";
            });

            $("#btnAlterarFuncionario").click(function () {

                var consultorDao = {};

                consultorDao.FuncionarioID = $("#FuncionarioID").val();
                consultorDao.Nome = $("#Nome").val();
                consultorDao.Email = $("#Email").val();
                consultorDao.Telefone = $("#Telefone").val();
                
                consultorDao.LojaDao = [];
                consultorDao.LojaDao.push({ LojaID: $("#LojaID option:selected").val() });

                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: "/Consultor/Alterar",
                    data: { consultorDao: consultorDao },
                    success: function (data) {

                        if (!data.Sucesso) {
                            console.info(data.Erro);
                            alert(data.Mensagem);
                            return;
                        }

                        $("#tbFuncionario").DataTable().clear();
                        $("#tbFuncionario").DataTable().rows.add(data.Lista).draw();

                        limpar();

                        alert(data.Mensagem);

                        $("#modalfuncionarioalterar").modal('hide');
                    }
                });

            });

        });
    </script>
}
<div class="container">
    <h2><i class="glyphicon glyphicon-list" style="color: #0f3456" title="Consultor"></i> Lista de Consultores</h2>
    <hr />
    <div class="form-group">
        <div class="table-responsive">
            <table id="tbFuncionario" class="table nowrap">
                <thead>
                    <tr>
                        <td class="text-center" style="width: 10%"><b>Número</b></td>
                        <td class="text-center" style="width: 20%"><b>Loja</b></td>
                        <td class="text-center" style="width: 30%"><b>Nome</b></td>
                        <td class="text-center" style="width: 20%"><b>E-mail</b></td>
                        <td class="text-center" style="width: 10%"><b>Telefone</b></td>
                        <td class="text-center" style="width: 5%"><b>Ação</b></td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="form-group">
        <button id="btnCadastrar" type="button" class="btn btn-info">Cadastrar Novo Consultor</button>
    </div>
</div>
@Html.Partial("_ModalFuncionarioAlterar", Model)