@{
    ViewBag.Title = "Orçamento - Lista";
}
@section scripts
{
    <script type="text/javascript">

        function modalOrcamento(orcamentoDao) {

            $("#lblOrcamentoID_O").text(orcamentoDao.OrcamentoID);
            
            $("#txtObservacao").text(orcamentoDao.Observacao == null ? "" : orcamentoDao.Observacao);

            $("#tbProduto").DataTable().clear();
            $("#tbProduto").DataTable().rows.add(orcamentoDao.OrcamentoProdutoDao).draw();

            $('#modalorcamento').modal('show');
        }

        function modalOrcamentoHistorico(orcamentoDao) {

            $("#lblOrcamentoID_H").text(orcamentoDao.OrcamentoID);

            $.getJSON("/OrcamentoHistorico/Listar", { OrcamentoID: orcamentoDao.OrcamentoID }, function (data) {
                $("#tbOrcamentoHistorico").DataTable().clear();
                $("#tbOrcamentoHistorico").DataTable().rows.add(data).draw();
            });

            $('#modalorcamentohistorico').modal('show');
        }

        $(document).ready(function () {

            $.getJSON("/Orcamento/Listar", function (data) {
                tbOrcamento.clear();
                tbOrcamento.rows.add(data).draw();
            });

            var tbOrcamento = $("#tbOrcamento").DataTable({
                "ordering": false,
                "pageLength": 10,
                "language": {
                    "lengthMenu": "_MENU_ registros por página",
                    "zeroRecords": "Sem registros a serem exibidos",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sem registros a serem exibidos",
                    "infoFiltered": "(filtrados de _MAX_ total de registros)",
                    "sSearch": "Pesquisar",
                    "oPaginate": { "sNext": "Próximo", "sPrevious": "Anterior", "sFirst": "Primeiro", "sLast": "Último" }
                },
                "rowCallback": function (row, data, index)
                {
                    if (data.PedidoDao != null)
                    {
                        $('td', row).addClass('bg-success');
                    }
                },
                "columns":
                [
                    {
                        "data": function (data, type, row) {
                            return "<a href='#' onclick='modalOrcamento(" + JSON.stringify(data) + ")'>" + data["OrcamentoID"] + "</a>";
                        },
                        "className": "text-center"
                    },
                    { "data": "FuncionarioDao[0].Nome", "className": "text-center" },
                    {
                        "data": function (data, type, row) {
                            if (data.ClienteDao.Cpf != "") { return data.ClienteDao.Nome; } else { return data.ClienteDao.NomeFantasia; }
                        },
                        "className": "text-center"
                    },
                    { "data": "LojaDao[0].NomeFantasia", "className": "text-center" },
                    {
                        "data": function (data, type, row) {
                            return moment(data["DataOrcamento"]).format("DD/MM/YYYY HH:mm");
                        },
                        "className": "text-center"
                    },
                    {
                        "data": function (data, type, row)
                        {
                            var historico = "<i class='glyphicon glyphicon-list' title='Histórico' style='cursor: pointer' onclick='modalOrcamentoHistorico(" + JSON.stringify(data) + ")'></i>";
                            var gerarVenda = "<a style='color: #333' href='/Pedido/Cadastro?orcamentoID=" + data.OrcamentoID + "'><i class='glyphicon glyphicon-share-alt' title='Gerar Venda' style='cursor: pointer'></i></a>";
                            var comanda = "<a href='" + window.location.origin + "/Orcamento/Comanda?OrcamentoID=" + data["OrcamentoID"] + "' target='_blank'><i class='glyphicon glyphicon-print' title='Imprimir Orçamento' style='cursor: pointer; color: #333'></i></a>";

                            // se orçamento foi convertido em venda, não é possível converter novamente
                            if (data.PedidoDao == null)
                            {
                                return comanda + " " + historico + " " + gerarVenda;
                            }
                            else
                            {
                                return comanda + " " + historico;
                            }
                        },
                        "className": "text-center"
                    }
                ]
            });

            var tbProduto = $("#tbProduto").DataTable({
                "paging": false,
                "ordering": false,
                "info": false,
                "searching": false,
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "Sem registros a serem exibidos",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sem registros a serem exibidos",
                    "infoFiltered": "(filtrados de _MAX_ total de registros)"
                },
                "columns":
                [
                    { "data": "ProdutoDao.ProdutoID", "className": "text-center", "visible": false },
                    { "data": "ProdutoDao.Numero", "className": "text-center" },
                    { "data": "ProdutoDao.Descricao", "className": "text-center" },
                    { "data": "ProdutoDao.MedidaDao.Descricao", "className": "text-center" },
                    { "data": "Quantidade", "className": "text-center" },
                    { "data": "ProdutoDao.CategoriaDao[0].Descricao", "className": "text-center" },
                    {
                        "data": function (data, type, row) {
                            return Globalize.format(data["Preco"], "n2");
                        },
                        "className": "text-center"
                    }
                ]
            });

            var tbOrcamentoHistorico = $("#tbOrcamentoHistorico").DataTable({
                "paging": false,
                "ordering": false,
                "info": false,
                "searching": false,
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "Sem registros a serem exibidos",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sem registros a serem exibidos",
                    "infoFiltered": "(filtrados de _MAX_ total de registros)"
                },
                "columns":
                [
                    { "data": "Observacao", "className": "text-justify" },
                    {
                        "data": function (data, type, row) {
                            return moment(data.DataCadastro).format("DD/MM/YYYY HH:mm");
                        },
                        "className": "text-center"
                    }
                ]
            });

            $("#btnCadastrar").click(function () {
                window.location.href = "/Orcamento/Cadastro";
            });

            $("#btnAdicionarHistorico").click(function () {

                var orcamentoHistoricoDao = {};

                orcamentoHistoricoDao.OrcamentoID = $("#lblOrcamentoID_H").text();
                orcamentoHistoricoDao.Observacao = $("#Observacao").val();

                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: "/OrcamentoHistorico/Incluir",
                    data: { orcamentoHistoricoDao: orcamentoHistoricoDao },
                    success: function (data) {

                        if (!data.Sucesso) {
                            alert(data.Mensagem);
                            return;
                        }

                        $("#tbOrcamentoHistorico").DataTable().clear();
                        $("#tbOrcamentoHistorico").DataTable().rows.add(data.Lista).draw();

                        $("#Observacao").val("");
                    }
                });

            });

        });
    </script>
}
<div class="container">
    <h2><i class="glyphicon glyphicon-list" style="color: #0f3456" title="Orçamento"></i> Lista de Orçamentos</h2>
    <hr />
    <div class="form-group">
        <div class="table-responsive">
            <table id="tbOrcamento" class="table nowrap">
                <thead>
                    <tr>
                        <td class="text-center" style="width: 10%"><b>Nº Orçamento</b></td>
                        <td class="text-center" style="width: 25%"><b>Funcionário</b></td>
                        <td class="text-center" style="width: 25%"><b>Cliente</b></td>
                        <td class="text-center" style="width: 25%"><b>Loja Origem</b></td>
                        <td class="text-center" style="width: 10%"><b>Data Orçamento</b></td>
                        <td class="text-center" style="width: 5%"><b>Ação</b></td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <button id="btnCadastrar" type="button" class="btn btn-info">Cadastrar Novo Orçamento</button>
    <div class="modal fade" id="modalorcamento" tabindex="-1" role="dialog" aria-labelledby="ModalOrcamento" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                    <h4 class="modal-title" id="myModalLabelOrcamento">Orçamento <label id="lblOrcamentoID_O"></label></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            Observação:
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <textarea id="txtObservacao" class="form-control" disabled="disabled" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p>Produtos:</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table id="tbProduto" class="table nowrap" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <td class="text-center" style="width: 5%"><b>ProdutoID</b></td>
                                            <td class="text-center" style="width: 10%"><b>Número</b></td>
                                            <td class="text-center" style="width: 25%"><b>Produto</b></td>
                                            <td class="text-center" style="width: 10%"><b>Medida</b></td>
                                            <td class="text-center" style="width: 10%"><b>Quantidade</b></td>
                                            <td class="text-center" style="width: 10%"><b>Categoria</b></td>
                                            <td class="text-center" style="width: 10%"><b>Preço</b></td>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalorcamentohistorico" tabindex="-1" role="dialog" aria-labelledby="ModalOrcamentoHistorico" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                    <h4 class="modal-title" id="myModalLabelHistorico">Histórico do Orçamento <label id="lblOrcamentoID_H"></label></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <textarea id="Observacao" name="Observacao" class="form-control" placeholder="Detalhe" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <div style="overflow-x: hidden; overflow-y: scroll; height: 200px">
                                    <table id="tbOrcamentoHistorico" class="table" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <td class="text-center" style="width: 75%"><b>Detalhe</b></td>
                                                <td class="text-center" style="width: 25%"><b>Data Cadastro</b></td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnAdicionarHistorico" type="button" class="btn btn-warning">Adicionar Histórico</button>
                </div>
            </div>
        </div>
    </div>
</div>
