@{
    ViewBag.Title = "Cliente - Lista";
}

@section scripts
{
    <script type="text/javascript">

        function modalCliente(cliente) {

            $("#lblCliente").text(cliente.Cpf != null ? cliente.Cpf : cliente.Cnpj);

            $("#lblEmail").text((cliente.Email == null ? "" : cliente.Email));
            $("#lblTelefoneResidencial").text((cliente.TelefoneResidencial == null ? "" : cliente.TelefoneResidencial));
            $("#lblTelefoneResidencial2").text((cliente.TelefoneResidencial2 == null ? "" : cliente.TelefoneResidencial2));
            $("#lblTelefoneCelular").text((cliente.TelefoneCelular == null ? "" : cliente.TelefoneCelular));
            $("#lblTelefoneCelular2").text((cliente.TelefoneCelular2 == null ? "" : cliente.TelefoneCelular2));
            $("#lblCep").text((cliente.Cep == null ? "" : cliente.Cep));
            $("#lblLogradouro").text((cliente.Logradouro == null ? "" : cliente.Logradouro));
            $("#lblComplemento").text((cliente.Complemento == null ? "" : cliente.Complemento));
            $("#lblPontoReferencia").text((cliente.PontoReferencia == null ? "" : cliente.PontoReferencia));
            $("#lblNumero").text((cliente.Numero == null ? "" : cliente.Numero));
            $("#lblBairro").text((cliente.Bairro == null ? "" : cliente.Bairro));

            $('#modalcliente').modal('show');
        }

        function alterarCliente(clienteDao, obj)
        {
            $("#modalclientealterar input").val("");
            $("#modalclientealterar select").val("");

            $("#ClienteID").val(clienteDao.ClienteID);
            $("#RowIdx").val($(obj).closest('tr').index());
                        
            if (clienteDao.Cpf != null && clienteDao.Cpf != "")
            {
                $("#lblCpf").text(clienteDao.Cpf);
                $("#lblCpf").show();

                $("#lblCnpj").text("");
                $("#lblCnpj").hide();

                $(".clientePF").show();
                $(".clientePJ").hide();
            }
            else
            {
                $("#lblCnpj").text(clienteDao.Cnpj);
                $("#lblCnpj").show();

                $("#lblCpf").text("");
                $("#lblCpf").hide();

                $(".clientePJ").show();
                $(".clientePF").hide();
            }

            $("#modalclientealterar").modal('show');
        }

        $(document).ready(function () {

            var tbCliente = $("#tbCliente").DataTable({
                "ordering": false,
                "pageLength": 10,
                "language": {
                    "lengthMenu": "_MENU_ registros por página",
                    "zeroRecords": "Sem registros a serem exibidos",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sem registros a serem exibidos",
                    "infoFiltered": "(filtrados de _MAX_ total de registros)",
                    "sSearch": "Pesquisar",
                    "oPaginate": { "sNext": "Próximo", "sPrevious": "Anterior", "sFirst": "Primeiro", "sLast": "Último" }
                },
                "columns":
                [
                    {
                        "data": function (data, type, row) {
                            return "<a href='#' onclick='modalCliente(" + JSON.stringify(data) + ")'>" + (data["Cpf"] != null ? data["Cpf"] : data["Cnpj"]) + "</a>";
                        },
                        "className": "text-center"
                    },
                    {
                        "data": function (data, type, row) {
                            if (data["Nome"] != null) { return data["Nome"]; } else { return data["NomeFantasia"]; }
                        },
                        "className": "text-center"
                    },
                    { "data": "RazaoSocial", "className": "text-center" },
                    {
                        "data": function (data, type, row) {
                            if (data["DataNascimento"] != null) { return moment(data["DataNascimento"]).format("DD/MM/YYYY"); } else { return ""; }
                        },
                        "className": "text-center"
                    },
                    { "data": "EstadoDao[0].Nome", "className": "text-center" },
                    { "data": "Cidade", "className": "text-center" },
                    {
                        "data": function (data, type, row) {

                            var alterar = "<i class='glyphicon glyphicon-edit' title='Editar Cliente' style='cursor: pointer' onclick='alterarCliente(" + JSON.stringify(data) + ", this)'></i>";
                            return alterar;
                        },
                        "className": "text-center"
                    }
                ]
            });

            $.getJSON("/Cliente/Listar", function (data) 
            {
                if (!data.Sucesso) {
                    console.info(data.Erro);
                    alert(data.Mensagem);
                    return;
                }

                tbCliente.clear();
                tbCliente.rows.add(data.Clientes).draw();
            });

            $("#btnAlterarCliente").click(function () {

                var clienteDao = {};

                clienteDao.ClienteID = $("#ClienteID").val();
                clienteDao.Nome = $("#Nome").val().trim();
                clienteDao.Email = $("#Email").val().trim();
                clienteDao.Cpf = $("#Cpf").val().trim();
                clienteDao.DataNascimento = $("#DataNascimento").val().trim();
                clienteDao.NomeFantasia = $("#NomeFantasia").val().trim();
                clienteDao.Cnpj = $("#Cnpj").val().trim();
                clienteDao.RazaoSocial = $("#RazaoSocial").val().trim();
                clienteDao.TelefoneResidencial = $("#TelefoneResidencial").val().trim();
                clienteDao.TelefoneResidencial2 = $("#TelefoneResidencial2").val().trim();
                clienteDao.TelefoneCelular = $("#TelefoneCelular").val().trim();
                clienteDao.TelefoneCelular2 = $("#TelefoneCelular2").val().trim();
                clienteDao.Cep = $("#Cep").val().trim();
                clienteDao.EstadoDao = [];
                clienteDao.EstadoDao.push({ EstadoID: $("#EstadoID option:selected").val() });
                clienteDao.Cidade = $("#Cidade").val().trim();
                clienteDao.Logradouro = $("#Logradouro").val().trim();
                clienteDao.Bairro = $("#Bairro").val().trim();
                clienteDao.Numero = $("#Numero").val().trim();
                clienteDao.Complemento = $("#Complemento").val().trim();
                clienteDao.PontoReferencia = $("#PontoReferencia").val().trim();

                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: "/Cliente/Atualizar",
                    data: { clienteDao: clienteDao },
                    success: function (data) {

                        if (!data.Sucesso)
                        {
                            console.info(data.Erro);
                            alert(data.Mensagem);
                            return;
                        }

                        $("#tbCliente").DataTable().row($("#RowIdx").val()).invalidate().data(data.Cliente).draw();
                        $("#modalclientealterar").modal('hide');
                    }
                });

            });

        });
    </script>
}
<div class="container">
    <h2><i class="glyphicon glyphicon-list" style="color: #0f3456" title="Cliente"></i> Lista de Clientes</h2>
    <hr />
    <div class="form-group">
        <div class="table-responsive">
            <table id="tbCliente" class="table nowrap">
                <thead>
                    <tr>
                        <td class="text-center" style="width: 20%"><b>CPF/CNPJ</b></td>
                        <td class="text-center" style="width: 20%"><b>Nome/Nome Fantasia</b></td>
                        <td class="text-center" style="width: 20%"><b>Razão Social</b></td>
                        <td class="text-center" style="width: 10%"><b>Data Nascimento</b></td>
                        <td class="text-center" style="width: 10%"><b>Estado</b></td>
                        <td class="text-center" style="width: 15%"><b>Cidade</b></td>
                        <td class="text-center" style="width: 5%"><b>Ação</b></td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="form-group">
        <button id="btnCadastrar" type="button" class="btn btn-info" onclick="window.location.href='@Url.Action("Cadastro", "Cliente")'">Cadastrar Novo Cliente</button>
    </div>
</div>
@Html.Partial("_ModalCliente")
@Html.Partial("_ModalClienteAlterar", (List<ChicoDoColchao.Dao.EstadoDao>)ViewBag.EstadoDao)