@model ChicoDoColchao.Dao.NotaFiscalDao

@{
    ViewBag.Title = "NFe - Entrada";
}
<div class="container" style="padding-bottom: 20px;">
    <h2><i class="glyphicon glyphicon-triangle-right" style="color: #0f3456" title="Nota Fiscal"></i> Entrada de NFe</h2>
    <hr />
    <form id="NotaFiscalForm" name="NotaFiscalForm" method="post" action="Cadastro" enctype="multipart/form-data">
        <p>
            Lembre-se, <b style="color: red">TODAS</b> as notas fiscais importadas irão para o estoque da loja do <b>DEPÓSITO</b>.
        </p>
        <p>
            Selecione os arquivos de Nota Fiscal Eletrônica (NF-e)
        </p>
        <div class="form-group">
            <input name="arquivos" type="file" accept="text/xml" multiple />
        </div>
        <div class="form-group">
            <button id="btnImportar" type="submit" class="btn btn-success">Importar</button>
        </div>
        @if (!string.IsNullOrEmpty(Model.Mensagem))
        {
            if (Model.Erro)
            {
                <ul style="color: red">
                    @foreach (string item in ((string)Model.Mensagem).Split("*".ToCharArray(), StringSplitOptions.RemoveEmptyEntries))
                    {
                        <li>@item</li>
                    }
                </ul>
            }
            else
            {
                <p style="color: #5cb85c">
                    @Model.Mensagem
                </p>
            }
        }
    </form>
</div>